Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_Closed_N.uasset
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_Closed_D2.uasset
